.App {
  margin: 300px;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.items-end {
  align-items: end;
}

.items-center {
  align-items: center;
}

.entry {
  position: relative;
  width: 800px;
  justify-content: end;
  color: white;
  font-size: 30px;
  text-shadow: 0 0 3px white;
  text-transform: uppercase;

  animation: entryIn 200ms linear;
  transition: opacity 200ms;
}
.entry.small {
  font-size: 24px;
}
.entry.large {
  font-size: 35px;
  margin-top: -5px;
}

.entry.anim-in:before {
  content: ' ';
  position: absolute;
  background: black;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  z-index: 1000;

  animation: entryInMask 400ms linear;
  animation-delay: 200ms;

  opacity: 1;
}

@keyframes entryInMask {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes entryIn {
  0% {
    height: 0px;
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 39px;
  }
}

.entry>span:not(.noanim), .entry .arrow {
  animation: popUp 200ms linear;
  animation-delay: 200ms;
}

.entry.hidden {
  opacity: 0;
}

@keyframes popUp {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.kill-reveal {
  position: relative;
}
.kill-reveal:after {
  content: ' ';
  position: absolute;
  right: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: black;
  animation: killReveal 500ms linear;
}

@keyframes killReveal {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.points {
  display: inline-block;
  width: 62px;
  text-align: right;
}

.sum {
  animation: popUp 200ms linear;
}

.arrow {
  display: inline-block;
  background-image: url(../resources/arrow.png);
  background-size: contain;
  width: 32px;
  height: 32px;
}

.red {
  color: #FF7F4A;
  text-shadow: 0 0 3px #FF8E00;
}