body {
  margin: 0;
  font-family: Purista;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: black;
}

@font-face {
  font-family: Purista;
  src: url(../resources/PURISTA\ MEDIUM.OTF) format("opentype");
}